.text-pixell{
    font-family: "Silkscreen", sans-serif;
    font-weight: 100;
}
.say{
    font-family: "Numans", sans-serif;
}
.name{
    font-family: "Numans", sans-serif;
}

.text-gud{
    font-family: "Bebas Neue", sans-serif;
}